.grid{
  height: 512px;
  width: 512px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: 2px solid black
}

.grid-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
}

.grid-column {
  flex-grow: 1;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.grid-column-black {
  background-color: black;
}

.clue-number {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 0.75em;

}
